<header class="flex items-center justify-between gap-4 px-4 h-16 bg-white w-full sticky top-0 z-50">
  <h1 class="text-3xl font-bold">Produtos</h1>

  <input type="text" class="p-2 border border-gray-300 rounded-md text-sm w-full max-w-md" ng-model="search"
    ng-model-options="{ debounce: 200 }" placeholder="Buscar produto..." />

  <a ng-href="#!/products/new"
    class="bg-blue-600 text-white px-3 py-3 text-base font-medium rounded hover:bg-blue-700 transition">
    Adicionar
  </a>
</header>

<div class="p-4" ng-show="search">
  <h1>Mostrando resultados para "{{ search }}"</h1>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-4 w-full mt-2">
  <div ng-repeat="product in products | filter:search"
    class="bg-[#f9f9f9] p-4 flex flex-col justify-between text-start shadow rounded-lg">
    <a class="cursor-pointer" ng-href="#!/products/{{ product.id }}">
      <h1 class="text-[#111827] text-xl font-semibold">{{ product.title }}</h1>
      <p class="text-sm text-[#4b5563] mt-2 break-words whitespace-normal">
        {{ product.description }}
      </p>
      <h2 class="text-lg mt-2 font-bold text-[#1f2937]">R$ {{ product.price }}</h2>
    </a>
  </div>
</div>

<div class="flex justify-center mt-6">

</div>